-var version = "0.0.1"
html
  head
    block title
    style.
      #flash-message {
        position: absolute;
        width: 90%;
        height: 50px;
        background: rgba(224, 30, 30, 0.8);
        left: 5%;
        top: 30%;
        color: #fff;
        line-height: 50px;
        text-indent: 10px;
        z-index: 2;
      }

      #flash-message .alert-success {
        background: rgba(69, 245, 139, 0.8);
      }

      #flash-message .close {
        position: absolute;
        background: none;
        border: none;
        color: #fff;
        font-size: 30px;
        line-height: 50px;
        right: 10px;
      }

    include incs/header
    block header
  body(style='overflow-x:hidden')
    block main

    script(type='text/javascript', src='//cdn.bootcss.com/zepto/1.1.6/zepto.min.js')
    script(type='text/javascript', src='//res.wx.qq.com/open/js/jweixin-1.2.0.js')
    //script(type='text/javascript', src='/themes/dist/js/global.min.js?v=#{version}')
    //script(type='text/javascript', src='/themes/dist/js/weixin.min.js?v=#{version}')
    //script(type='text/javascript', src='#{theme}/dist/js/jquery-weui.min.js')


    script(type='text/javascript', src='//cdn.bootcss.com/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js')
    script(type='text/javascript', src='//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js')
    script(type='text/javascript', src='//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js')
    //include incs/flash

    script.
      var baseUrl = '#{baseUrl}', contextRoot = "#{contextRoot}",contextFront = "#{contextFront}";
      console.log('contextFront:', contextFront)
      $('#flash-message .close').click(function () {
        $('#flash-message').remove();
      });

    block script
